    <div class="container">
      <header>
        <div class="name-wrapper">
          <div id="fullname" class="title">
            {{ site.data.resume.name }}
          </div>
          <div id="jobtitle" class="sub-title">
            {{ site.data.resume.jobtitle }}
          </div>
        </div>
        <div id="contact" class="contact">
          {% for item in site.data.resume.contact %}
          <div class="contact-item">
            {% if item.link %}
            <a href="{{ item.link }}">
            {% endif %}
            <i class="fa {{ item.icon }} aria-hidden="true></i> {{ item.text }}
            {% if item.link %}
            </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </header>

      <section id="experience">
        <div class="section-title">
          工作经历
        </div>
        <div class="block">
          {% for exp in site.data.resume.experience %}
            <div class="block-2">
              <div class="block-title">
                {{ exp.title }}
              </div>
              <div class="block-subtitle">
                {{ exp.duration }} | {{ exp.jobTitle }} | {{ exp.company }}
              </div>
              <div class="block-content">
                {% for expItem in exp.description %}
                  <div class="block-title-2">
                    - {{ expItem.title }}
                  </div>
                  <div class="block-content">
                    {{ expItem.text }}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </section>

      <section id="skills">
        <div class="section-title">
          专业技能
        </div>
        <div class="section-content">
          {% for skill in site.data.resume.skills %}
          <div class="block">
            <div class="block-title">
              {{ skill.title }}
            </div>
            <div class="block-content">
              {{ skill.items }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="otherSkills">
        <div class="section-title">
          其他技能
        </div>
        <div class="section-content section-flex">
          {% for oth in site.data.resume.otherSkills %}
          <div class="block block-square">
            <div class="block-title">
              {{ oth.name }}
            </div>
            <div class="block-content">
              {{ oth.proficiency }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <section id="education">
        <div class="section-title">
          教育
        </div>
        <div class="section-content">
          {% for edu in site.data.resume.education %}
          <div class="block">
            <div class="block-title">
              {{ edu.university }}
            </div>
            <div class="block-subtitle">
              {{ edu.duration }} | {{ edu.location }}
            </div>
            <div class="block-content">
              {{ edu.major }}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
